<?xml version="1.0" encoding="UTF-8"?>
<configuration scan = "true" scanPeriod="1 minutes">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<!--        <withJansi>true</withJansi>-->
        <encoder>
            <pattern>%red([%d{HH:mm:ss.SSS}]) %magenta(%-10.-10thread) %boldGreen(%-15.-15logger{0}) %highlight(%-3level) %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/latest.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd-HH:mm:ss:SSS} %logger{0} %-3level %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
